@model ST10361554_CLDV6211_POE_Part_2.Models.Order

@{
    ViewData["Title"] = "Order Details";
}

<style>
    h1 {
        color: white;
    }

    h2 {
        color: white;
    }

    h4 {
        color: white;
    }

    table {
        color: white;
    }

    thead {
        color: white;
    }

    tr {
        color: white;
    }

    th {
        color: white;
    }

    div {
        color:white;
    }

</style>

<h2>Order Details</h2>

<div>
    <h4>Order Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Order ID</dt>
        <dd class="col-sm-10">@Model.OrderId</dd>

        <dt class="col-sm-2">Order Date</dt>
        <dd class="col-sm-10">@Model.OrderDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Total Amount</dt>
        <dd class="col-sm-10">R @Model.OrderTotalAmount</dd>

        <dt class="col-sm-2">Order Status</dt>
        <dd class="col-sm-10">@Model.OrderStatus</dd>
    </dl>

    <h4>Order Items</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Craftwork Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Item Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>@item.Craftwork.CraftworkName</td>
                    <td>R @item.Craftwork.CraftworkPrice</td>
                    <td>@item.Quantity</td>
                    <td>R @(item.Craftwork.CraftworkPrice * item.Quantity)</td>
                    <td>@item.CraftworkStatus</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<button type="submit" class="btn btn-light">
    <a asp-action="Index">
        <i class="bi bi-arrow-return-left"></i>
        Back to Orders
    </a>
</button>
